@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/*---------- CONFIG PADRÃO E TELA INDEX ---------------*/
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    :root {
        --cor-chave: #119c6e;
    }

    body {
        height: 100vh;
    }

    header {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

/*----------   LOGO  ----------------*/
    div#logo {
        font-size: 1.3rem;
        padding: 15px;
    }

    div#logo a{
        text-decoration: none;
        color: #119c6e;
    }

    div#logo h1{
        font-family: "Audiowide";
    }

    div#logo p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        justify-self: center;
        line-height: 10px;
        font-size: 1rem;
    }

/*------------ BOTÃO DE OPÇÕES E NAVBAR -----------------------*/
    #menu {
        color: #119c6e;
        text-align: center;
        margin-top: 5px;
        padding: 0.2rem;
        font-size: 2rem;
        width: 100%;
        transition: background-color 0.5s;
    }

    #menu:hover {
        background-color: white;
    }

    #navbar {
        display: none;
        width: 100%;
        background-color: black;
    }

    #navbar ul {
        list-style: none;
    }

    #navbar ul li {
        align-self: center;
        width: 100%;
        padding: 0.6rem;
    }

    #navbar ul li:hover {
        background-color: white;
        transition: 0.5s;
    }

    #navbar ul li a {
        text-decoration: none;
        color: #119c6e;
        display: block;
        margin: auto;
        text-align: center;
    }
/*------------ CONTEUDO PRINCIPAL --------------*/
    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        justify-content: center;
    }

    section {
        width: 80%;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.281);
        padding: 20px;
        border-radius: 10px;
    }

    section h1 {
        font-size: 1.5rem;
    }

/*------------ FOOTER --------------*/

    footer {
        display: block;
        text-align: center;
        background-color: black;
        color: #119c6e;
        padding: 10px;
        font-size: 1rem;
    }

/*---------------- CONFIG PADRÃO E TELA ACCOUNT -------------*/

    section#tela-de-login {
        height: 500px;
        width: 300px;
        padding: 0;
        overflow: hidden;
        background-color: rgb(0, 0, 0);
    }

    #img-log {
        background-image: url(imagens/people-buying-p.jpg);
        height: 200px;
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
    }

    #form {
        padding: 10px;
        color: white;
    }

    #form h2 {
        text-align: center;
    }

    #form p {
        text-align: justify;
    }

    .campo {
        width: 100%;
        height: 40px;
        border: 1px solid var(--cor-chave);
        position: relative;
        border-radius: 10px;
        margin: 5px;
        background-color: black;
    }

    .campo span {
        padding: 4px;
        width: 40px;
        font-size: 2rem;
        color: var(--cor-chave);
    }

    .campo input {
        width: calc(100% - 40px);
        height: 38px;
        position: absolute;
        border-radius: 10px;
        padding-left: 10px;
        color:var(--cor-chave);
    }

    .campo input[type='submit']{
        width: 100%;
        background-color: transparent;
        border: none;
        font-size: 1rem;
        background-color: var(--cor-chave);
        color: black;
    }

    #forgpas {
        text-decoration: none;
        background-color: #ffffff;
        color: black;
        display: block;
        text-align: center;
        padding-top: 5px;
        height: 40px;
        border-radius: 10px;
        border: 2px solid var(--cor-chave);
    } 

    input::placeholder {
        padding-left: 5px;
    }




/*----------- MEDIA QUERY PARA TELAS MAIORES QUE CELULARES ----------------*/
@media screen and (min-width: 768px) {
    header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    #menu {
        display: none;
    }

    #navbar {
        display: block;
        
    }

    #navbar ul {
        display: flex;
        justify-content: flex-end;
    }

    #navbar ul li {
        width: auto;
        margin-right: 10px;
        border-radius: 10px;
    }

    /*------- SEÇÃO --------*/

    section {
        width: 50%;
    }

    /* TELA DE LOGIN */
    section#tela-de-login {
        max-width: 800px;
        width: 80vw;
        height: 300px;
    }

    div#img-log {
        float: left;
        width: 50%;
        height: 100%;
    }

    div#form {
        float: right;
        width: 50%;
        height: 100%;
    }

    div#form h2 {
        font-size: 1.5rem;
    }

    div#form p {
        padding: 5px;
    }

    div#form div.campo {
        margin: 5px 0;
    }

}