@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* CONFIG PADRÃO E TELA INDEX */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#logo {
    font-size: 1.3rem;
    padding: 15px;
}

#logo a{
    text-decoration: none;
    color: #119c6e;
}

#logo h1{
    font-family: "Audiowide";
}

#logo p {
    justify-self: center;
    font-size: 1rem;
}

#menu {
    color: #119c6e;
    text-align: center;
    margin-top: 5px;
    padding: 0.2rem;
    font-size: 2rem;
    width: 100%;
    transition: background-color 0.5s;
}

#menu:hover {
    background-color: white;
}

#navbar {
    display: none;
    width: 100%;
    background-color: black;
}

#navbar ul {
    list-style: none;
}

#navbar ul li {
    align-self: center;
    width: 100%;
    padding: 0.6rem;
}

#navbar ul li:hover {
    background-color: white;
    transition: 0.5s;
}

#navbar ul li a {
    text-decoration: none;
    color: #119c6e;
    display: block;
    margin: auto;
    text-align: center;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}

section {
    width: 50%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.137);
    padding: 20px;
    border-radius: 10px;
}

footer {
    display: block;
    text-align: center;
    background-color: black;
    color: #119c6e;
    padding: 10px;
    font-size: 1rem;
}

/* CONFIG PADRÃO E TELA ACCOUNT */

#tela-de-login {
    height: 500px;
    width: 300px;
    padding: 0;
    overflow: hidden;
}

#img-log {
    background-image: url(imagens/people-buying-p.jpg);
    height: 200px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#form {
    padding: 10px;
}

#form h2 {
    text-align: center;
}

.campo {
    width: 100%;
    height: 40px;
    border: 1px solid black;
    position: relative;
    border-radius: 10px;
    margin: 5px;
}

.campo span {
    padding: 4px;
    width: 40px;
    font-size: 2rem;
}

.campo input {
    width: calc(100% - 40px);
    height: 38px;
    position: absolute;
    border-radius: 10px;
}

.campo input[type='button']{
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

#forgpas {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding-top: 5px;
}



/* MEDIA QUERY PARA TELAS MAIORES QUE CELULARES */
@media screen and (min-width: 768px) {
    header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    #menu {
        display: none;
    }

    #navbar {
        display: block;
        
    }

    #navbar ul {
        display: flex;
        justify-content: flex-end;
    }

    #navbar ul li {
        width: auto;
        margin-right: 10px;
        border-radius: 10px;
    }
}